
*{
    box-sizing: border-box;
}
.flex {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.p-actors {
    width: 100%;
    margin: auto;
    padding: 20%;
}
.p-actors-search{
    margin-top: 10px;
    padding: 0;
    width: 100%;
}
